@import "variables";

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  a {
    text-decoration: none;
  }
  i {
    padding: 8px;
    color: #c1bbbb;
    font-size: 80px;
  }
}
.video-wrapper {
  max-width: 1120px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  .avt {
    flex-basis: 300px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    iframe {
      margin-bottom: 8px;
      @media screen and (max-width: 1148px){
        margin-left: 8px;
        flex-basis: 308px;
      }
    }
    @media screen and (max-width: 1148px){
      flex-direction: row;
      flex-basis: 100%;
      margin-top: 8px;
      flex-wrap: wrap;
    }
  }
}
.video-holder {
  min-width: 320px;
  width: 800px;
  @media screen and (max-width: 1148px){
    width: 100%;
  }
}
.video {
  position: relative;
  padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
  height: 0;
  >iframe, >video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .insert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fafafa;
    a {
      text-decoration: none;
      font-size: 18px;
      color: #fafafa;
      &:hover {
        color: darken(#fafafa, 10%);
      }
    }
    .link {
      text-align: center;
      line-height: 30px;
      background-color: #2E2E2E;
      opacity: 0.7;
    }
    .close {
      position: absolute;
      right: -20px;
      top: -20px;
    }
    .a iframe {
      padding: 0;
      margin: 0;
      border: 0;
    }
  }
}
.video-cat-list {
  display: flex;
  flex-wrap: wrap;
  a {
    margin: 4px;
    text-decoration: none;
    color:  $text-color;
    background-color: $background-color;
    border: 1px solid $text-color;
    border-radius: 4px;
    padding: 4px;
    &:hover {
      background-color: darken($background-color, 10%);
    }
  }
}
.report-dmca a {
  margin: 4px;
  padding-bottom: 16px;
  color: $text-color;
  font-size: 1.1rem;
  text-decoration: none;
}